


/*------------------------------------------------ */


/* // Большие девайсы (большие десктопы, >= 992px) */

@media (max-width: 320px) { 
	span.item-name {  font-size: 8px; line-height: 1.5; }
}


@media (min-width: 320px) and (max-width: 560px) { 
	.copyright-block-production, .copyright-block-production a{	display: none;	font-size: 1.2em;	line-height: 1.2em;	}
	.catalog-container .catalog-item .item-name:first-line { font-weight: normal; font-size: 0.5em; }

	.price-list-block .price-item { margin: 5px 0px;  font-size: 0.9em;	}

}



/*// Экстрамалые девайсы («портретные телефоны», < 576px) */
@media (max-width: 575.98px) { 

	.price-list-block .price-item { margin: 5px 0px;  font-size: 0.9em;	}

	.map-container-4
	.contact-ref a { color: inherit; text-decoration: underline; }


	.mobile-contacts-block,
	.wrap-scrollup,
	.nav-container {display: block;}

	.head-top-block-pad,
	.copyright-block-production, 
	.bottom-menu-block{ display: none;}
	
	
	.navbar { display: block;} 
	.top-menu-box ul.top-menu li.top-menu-item .item-href, .top-menu-box ul.top-menu li.top-menu-item .item-no-href {  display: none; }
	.page-content-block .top-promo-block { padding: 0 0 10px 0; 	}

	.head-top-block .logo-block { position: absolute; top: 0; left: 0; }

	.head-spacer-inner{display: none;}
	
	.page-content-block img { max-width: 100%; height: auto; }	
	
	.head-top-block .head-spacer { 
		height: 51px;
		width: auto;
		margin: 0 auto;
		background-color: #FFFFFF;
	}

	.right-menu-box-pad {display: none;}
	.page-sub-menu-box-pad {display: block;}	
	
	.footer-block {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0px;
		width: auto;
		height: 115px;
		background-image: none;
		background-color: var(--footer-background-color);
		background-position: 0 0;
	
		}	

	.gps-button {display: block;}		



	.workarea-catalog-column-block-pad h1 { font-size: 24px; }
	.price-list-block .title { font-size: 22px;}
	.price-list-block .subtitle { font-size: 18px;}
/*
120 90
110 82
*/

	.catalog-container .catalog-item { line-height: normal; padding: 3px; margin-bottom: 5px; }

	.catalog-container .catalog-item .item-img {
	    width: 100px;
	    height: 80px;
	    border: solid 1px #FFFFFF;
	    margin-right: 5px;
	    vertical-align: middle;
	}

	.catalog-container .catalog-item h2 { font-size: 12px !important; line-height: 16px !important; }

	.catalog-container .catalog-item h2 a {
	    border: solid 1px #f7f3f4;
	    display: block;
	    padding: 0;
	    color: #6b6768;
	    margin: 0;
	    text-decoration: none;
	    background-color: #f2eeef;
	    vertical-align: middle;
	    cursor: pointer;
	    height: 100%;
	}

	.catalog-container .catalog-item .item-name:first-line { font-weight: normal; font-size: 5px; }

	.catalog-container .catalog-item .item-name { width: 100%; vertical-align: top; }

	.catalog-cell { background-color: var(--catalog-background-color); border: 1px var(--catalog-item-border-color) solid; }		



}



/* // Малые девайсы («ландшафтные», >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) { 

	.price-list-block .price-item { margin: 5px 0px;  font-size: 0.9em;	}
	
	.mobile-contacts-block {display: block;}
	.wrap-scrollup {display: block;}

	.nav-container {display: block;}

	.head-top-block-pad {display: none;}

	.catalog-cell {
		background-color: var(--catalog-background-color);
		border: 1px var(--catalog-item-border-color) solid;
		height: 100px;

	}


.catalog-container {
	width: 100%;
	margin: 18px 0 0 0;
}

.catalog-container .catalog-item {
	/*border: solid 1px #c4bebe;*/
	border: none;
	border-top: none;
	vertical-align: top;
	padding: 3px;
	line-height: normal;
}

.catalog-container .catalog-item h2 {
	font-size: 12px !important;
	line-height: 16px !important;
	font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif !important;
	text-transform: none !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #000 !important;
	vertical-align: middle;
}

.catalog-container .catalog-item h2 a {
	border: solid 1px #f7f3f4;
	display: block;
	padding: 0px;
	color: #000;
	margin: 0;
	text-decoration: none;
	background-color: #f2eeef;
	vertical-align: middle;
	cursor: pointer;
	height: 100%;
}

.catalog-cell { height: auto; }

.catalog-container .catalog-item .item-img {
	width: 100px;
	height: 80px;

/*	border: solid 1px #FFFFFF;*/
	margin-right: 5px;
	vertical-align: middle;
}

.catalog-container .catalog-item .item-img img {
	display: block;
}

.catalog-container .catalog-item .item-name {
	width: 100%;
	vertical-align: top;
}

.catalog-container .catalog-item .item-name:first-line {
	font-weight: normal;
	font-size: 5px;
}

.catalog-container .catalog-item h2 a:hover {
	color: #f95500 !important;
	background-color: #2c2829;
	border: solid 1px #2c2829;
}

.catalog-container .catalog-item h2 a:hover .item-name:first-line {
	color: #FFFFFF;
}

/**/




.copyright-block-production , .bottom-menu-block{ display: none;}
.aside-item  { height: 100px; }

	
	.navbar { display: block;} 
	.top-menu-box ul.top-menu li.top-menu-item .item-href, .top-menu-box ul.top-menu li.top-menu-item .item-no-href {  display: none; }
	.page-content-block .top-promo-block { padding: 0 0 10px 0; 	}

	.head-top-block .logo-block { position: absolute; top: 0; left: 0; }

	.head-spacer-inner{display: none;}
	
	.page-content-block img { max-width: 100%; height: auto; }	
	
	.head-top-block .head-spacer {
		height: 51px;
		width: auto;
		margin: 0 auto;
		background-color: #FFFFFF;
	}

	.right-menu-box-pad {display: none;}
	.page-sub-menu-box-pad {display: block;}	
	
	.footer-block {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0px;
		width: auto;
		height: 115px;
		background-image: none;
		background-color: var(--footer-background-color);
		background-position: 0 0;
		}	
		
	.gps-button {display: block;}		




}

/* // Средние девайсы («таблетки», >= 768px)  */
@media (min-width: 768px) and (max-width: 991.98px) { 

	

	.nav-container,
	.mobile-contacts-block,
	.page-sub-menu-box-pad	{display: block;}


	.catalog-cell {
		background-color: var(--catalog-background-color);
		border: 1px var(--catalog-item-border-color) solid;
		height: 110px;
	}

	.head-top-block-pad,
	.navbar,
	.copyright-block-production, 
	.right-menu-box-pad,
	.head-spacer-inner,
	.bottom-menu-block{ display: none;}
	
	
	
	
	.top-menu-box { width: auto;}

	.top-menu-box ul.top-menu li.top-menu-item .item-href, 
	.top-menu-box ul.top-menu li.top-menu-item .item-no-href {  display: block; }
	
	.top-menu-box ul.top-menu li.top-menu-item {
		float: left;
		display: inline;
		height: 58px;
		line-height: 58px;
		vertical-align: middle;
		padding: 0 20px !important;
		margin: 0 !important;
		text-align: center;
		font-family: Impact, Charcoal, sans-serif;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	
	
	.page-content-block .top-promo-block { padding: 0 0 10px 0; 	}

	.head-top-block .logo-block { position: absolute; top: 0; left: 0; }

	
	
	.page-content-block img { max-width: 100%; height: auto; }	
	
	.head-top-block .head-spacer {
		height: 51px;
		width: auto;
		margin: 0 auto;
		background-color: #FFFFFF;
	}

	
	.footer-block {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0px;
		width: auto;
		height: 115px;
		background-image: none;
		background-color: var(--footer-background-color);
		background-position: 0 0;
		border: 1px green solid;
	}
	.gps-button {display: block;}	



	.catalog-container .catalog-item .item-img {
    width: 124px;
    height: 83px;
    border: solid 1px #FFFFFF;
    margin: 0 10px 0 0;
    vertical-align: middle;
}


.catalog-container .catalog-item h2 a {
    border: solid 1px #f7f3f4;
    display: block;
    padding: 7px 8px;
    color: #6b6768;
    margin: 0;
    text-decoration: none;
    background-color: #f2eeef;
    vertical-align: middle;
    cursor: pointer;
    height: 100%;
}


.catalog-container .catalog-item .item-name {
    width: 100%;
    vertical-align: top;
}
		

}

/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.copyright-block-production, .copyright-block-production a{	display: none;	font-size: 1.2em;	line-height: 1.2em;	}

}

/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) { 
}