/* homepage styles */
.home-page-block {
	padding: 0;
}

.home-page-block h1 {
	color: #f95500;
	font-size: 16px;
	line-height: 20px;
	padding: 15px 0 0 0;
	margin: 0;
	font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
	text-transform: none;
}

.home-page-block .home-contacts-block p {
	margin: 0 0 17px 0;
}

.home-page-block .home-contacts-map {
	float: left;
	display: inline;
	width: 301px;
	height: 301px;
	overflow: hidden;
	border: solid 1px #d1d1d1;
	margin: 0 18px 0 0;
}

.home-page-block .home-contacts-text {
	float: left;
	display: inline;
	width: 280px;
}

.home-page-block .address {
	color: #2e2e2e;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
	margin: 0 0 5px 0 !important;
	padding: 0 !important;
}

.home-page-block .tel {
	color: #f95500;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
	margin: 0 0 7px 0 !important;
	padding: 0 !important;
}

.home-page-block .email {
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	margin: 0 0 7px 0 !important;
	padding: 0 !important;
}

.home-page-block .feedback {
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	margin: 25px 0 0 0 !important;
	padding: 0 !important;
}


/* catalog styles */

.catalog-top-list-block {
	width: 100%;
	margin: 18px 0 0 0;
}

.catalog-top-list-block .catalog-item {
	border: solid 1px #c4bebe;
	border-top: none;
	vertical-align: top;
	padding: 0;
	line-height: normal;
}

.catalog-top-list-block .catalog-item h2 {
	font-size: 12px !important;
	line-height: 16px !important;
	font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif !important;
	text-transform: none !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #6b6768 !important;
	vertical-align: middle;
}

.catalog-top-list-block .catalog-item h2 a {
	border: solid 1px #f7f3f4;
	display: block;
	padding: 7px 8px;
	color: #6b6768;
	margin: 0;
	text-decoration: none;
	background-color: #f2eeef;
	vertical-align: middle;
	cursor: pointer;
	height: 100%;
}

.catalog-top-list-block .catalog-item.even h2 a {
	background-color: #d9d5d6;
}

.catalog-top-list-block .catalog-item .item-img {
	width: 124px;
	height: 83px;

	border: solid 1px #FFFFFF;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.catalog-top-list-block .catalog-item .item-img img {
	display: block;
}

.catalog-top-list-block .catalog-item .item-name {
	width: 100%;
	vertical-align: top;
}

.catalog-top-list-block .catalog-item .item-name:first-line {
	color: #020001;
	font-weight: bold;
}

.catalog-top-list-block .catalog-item h2 a:hover {
	color: #f95500 !important;
	background-color: #2c2829;
	border: solid 1px #2c2829;
}

.catalog-top-list-block .catalog-item h2 a:hover .item-name:first-line {
	color: #FFFFFF;
}



/* price list block */
.price-list-block {
	width: 100%;
	margin: 18px 0 0 0;
}

.price-list-block .title {
	margin: 0 0 10px 0;
}

.price-list-block .price-item {
	margin: 5px 0 10px 0;
}

.price-list-block .price-item a {
	background-image: url('/images/download_file.gif');
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding: 2px 0 2px 25px;
	line-height: 20px;
	vertical-align: middle;
}

/** tizer block */
.teaser-block {
	width: 100%;
	padding: 0;
	background-color: #383735;
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.teaser-block .teaser-item {
	float: left;
	display: inline;
	width: 33%;
	overflow: hidden;
}

.teaser-block .teaser-item-pad {
	padding: 15px 5px 19px 19px;
}

.teaser-block .teaser-sep-1 {
	background-image: url('images/sep.png');
	background-repeat: no-repeat;
	background-position: 33% 100%;
}

.teaser-block .teaser-sep-2 {
	background-image: url('images/sep.png');
	background-repeat: no-repeat;
	background-position: 66% 100%;
}

.teaser-block .title {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 26px;
	line-height: 28px;
	padding: 0 0 2px 0;
	margin: 0;
}

.teaser-block .subtitle {
	color: #f95500;
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 5px 0;
	margin: 0;
}

.teaser-block .text {
	color: #605a5a;
	font-size: 11px;
	line-height: 12px;
	padding: 0 0 10px 0;
	margin: 0;
}

.teaser-block a.more-button:hover {
	color: #000000;
	background-color: #FFFFFF;
}

/* reward styles */
.rewards-top-list-block .catalog-item {
	padding: 30px 0 0 0;
}

.rewards-top-list-block .item-img {
	width: 204px;
	text-align: center;
}

.rewards-top-list-block .item-img a {
	border: solid 1px #3e3b3b;
}

.rewards-top-list-block .item-img img {
	border: solid 2px #FFFFFF;
}

.rewards-top-list-block .item-name {
	width: 350px;
	margin: 10px 0 0 30px;
	padding: 0;
	font-weight: bold;
	color: #000000;
}

#fancybox-outer {
	padding: 10px;
}

/* order form styles */
table.add-table {
	width: 500px;
	padding: 0;
	text-align: left;
	font-size: 12px;
}

table.add-table td {
	padding: 0 0 15px 5px;
	text-align: left;
	vertical-align: top;
}

table.add-table td.add-td-left {
	padding: 0 0 2px 5px;
	text-align: left;
	vertical-align: top;
}

.add-notice {
	font-size: 10px;
}

.error-messages-block {
	color: red;
	font-weight: bold;
	margin: 10px 0;
}

.required_error {
	color: red;
	font-weight: bold;
}

.friend_message {
	color: green;
	font-size: 12px;
	font-weight: bold;
	margin: 15px 0;
}

.img_pointer {
	cursor: pointer;
}

.add_form-block-fix form {
	padding: 0;
	margin: 0;
	width: 500px;
}

.add_form-block-fix {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.add_form-block-pad {
	padding: 0;
	margin: 10px 0;
}

.add_link-block-fix {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.add_link-block-pad {
 	padding: 0;
	margin: 0;
}

.add_link-block {
	display: block;
	width: 100%;
 	padding: 0px;
	margin: 0;
}

.need_auth-block {
	display: block;
	margin: 10px 0;
}

.need_auth-msg {
	font-weight: bold;
	color: green;
	margin: 10px 0;
}

.add_form-block-fix textarea {
	width: 450px;
	height: 100px;
	max-width: 500px;
}

.add-td-right label {
	line-height: 14px;
}

.add-td-right .radio-checkbox-item {
	margin: 5px 0;
}

.add-td-caption {
	color: #000000;
	font-weight: bold;
}

.radio-checkbox-item label {
	font-weight: normal;
	display: inline;
}

/* catalog-detail styles */

.catalog-detail-block {
	width: 100%;
	margin: 0;
}

.catalog-detail-block .catalog-item {
}

.catalog-detail-block .catalog-item h1 {
	font-size: 26px !important;
	line-height: 30px !important;
	margin: 0 0 20px 0;
	text-transform: none;
}

.catalog-detail-block .catalog-item .item-img {
	float: left;
	display: inline;
	border: solid 1px #3e3b3b;
	margin: 0 15px 0 0;
	vertical-align: middle;
}

.catalog-detail-block .catalog-item .item-img img {
	display: block;
	border: solid 1px #FFFFFF;
}

.catalog-detail-block .item-text {
	margin: 30px 0 0 0;
}

.catalog-detail-block .list-url {
	margin: 30px 0;
}

.catalog-detail-block .price-block {
	margin: 30px 0 0 0;
}

.catalog-detail-block .price-block h2 {
	font-size: 22px;
	line-height: 24px;
	color: #F95500;
}

.catalog-detail-block .price-item {
	margin: 5px 0 10px 0;
}

.catalog-detail-block .price-item a {
	background-image: url('../images/download_file.gif');
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding: 2px 0 2px 25px;
	line-height: 20px;
	vertical-align: middle;
}

.price-item a {
    background-image: url('/images/download_file.gif');
    background-repeat: no-repeat;
    background-position: 5px 2px;
    padding: 2px 0 2px 25px;
    line-height: 20px;
    vertical-align: middle;
}



/* catalog catalog-container list-block */


.catalog-container {
	width: 100%;
	margin: 20px 0 0 0;
}

.catalog-container .catalog-item {
	/*border: solid 1px #c4bebe;*/
	border: 1px green solid;
	vertical-align: top;
	padding: 0;
	line-height: normal;
	/*width: 460px;*/
	/*margin: 0 0 16px 0;*/
	padding: 5px;
}

/*.catalog-container .catalog-item.odd {
	margin-left: 26px;
}
*/
.catalog-container .catalog-item h2 {
	font-size: 14px !important;
	line-height: 18px !important;
	font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif !important;
	text-transform: none !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #6b6768 !important;
	vertical-align: middle;
}

.catalog-container .catalog-item h2 a {
	border: solid 1px #f7f3f4;
	display: block;
	padding: 7px 8px;
	color: #6b6768;
	margin: 0;
	text-decoration: none;
	background-color: #f2eeef;
	vertical-align: middle;
	cursor: pointer;
	background-color: #d9d5d6;
}

/*.catalog-container .catalog-item.even h2 a {
}
*/
.catalog-container .catalog-item .item-img {
	width: 160px;
	height: 120px;

	/*border: solid 1px #FFFFFF;*/
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.catalog-container .catalog-item .item-img img {
	display: block;
	width: 100%;
}

.catalog-container .catalog-item .item-name {
	width: 260px;
	vertical-align: top;
	margin: 2px 0 0 0;
}

.catalog-container .catalog-item .item-name:first-line {
	color: #020001;
	font-weight: bold;
	font-size: 16px !important;
}

.catalog-container .catalog-item h2 a:hover {
	color: #f95500 !important;
	background-color: #2c2829;
	border: solid 1px #2c2829;
}

.catalog-container .catalog-item h2 a:hover .item-name:first-line {
	color: #FFFFFF;
}


